.carousel {
	display: grid;
	height: 50vh;
	width: 100%;
	position: relative;
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.16);
	
  &.boxed {
    height: 50vh;
    max-width: @maxWidth;
    width: 100%;
    margin: 50px auto 70px;
  }
	.slide {
		display: none;
    animation: fade-in 0.5s ease 1 backwards;
    &.active-slide {
      display: block;
      height: inherit;
      animation: fade-in 0.5s ease 1 forwards;
      grid-column: 1 e("/") 2;
      grid-row: 1 e("/") 2;
    }
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
  .indicators {
    display: grid;
    z-index: 12;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    .indicator {
      width: 60px;
      border: 1px solid @white;
      opacity: 0.4;
      cursor: pointer;
      &.active {
        background:@white;
        opacity: 1;
      }
    }
  }
  .next{
    .arrow;
    right: 50px;
    opacity: 0;
  }
  .prev{
    .arrow;
    left: 50px;
    opacity: 0;
  }
  &:hover{
    .next{
      opacity: 1;
      transition: opacity 0.7s;
    }
    .prev{
      opacity: 1;
      transition: opacity 0.7s;
    }
  }
  .captions {
    z-index: 9;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    background: #0000004a;
    grid-column: 1 e("/") 2;
    grid-row: 1 e("/") 2;
    .caption {
      font-size: @font20;
      color: @white;
      line-height: 1.33;
      text-transform: uppercase;
    }
    .caption {
      display: grid;
      grid-gap: 15px;
    }
  }
}
.arrow{
    position: absolute;
    height: 100%;
    .vertical-center;
    color: @white;
    z-index: 11;
    font-size: 1.5em;
    cursor: pointer;
    padding: 0 8px;
    .border{
      border: 1px solid @white;
      border-radius: 100%;
      padding: 8px;
    }
  }