@white: #FFFFFF;
@lightGrey: #545454;
@maxWidth: 75em;
@headerShadow: 0 1.5px 2px 0 hsla(0,0%,88%,.5);
@contentBoxShadow: rgba(0, 0, 0, 0.06) 2px 2px 3px 3px;
@lightBorder: 1px solid #bfcfdc;
@active: #1dbdc0;
@fontFamily: sans-serif;
@font10: 0.625em;
@font12: 0.75em;
@font14: 0.875em;
@font15: 0.9375em;
@font16: 1em;
@font18: 1.125em;
@font20: 1.25em;
@font22: 1.375em;
@font24: 1.5em;
@font26: 1.625em;
@font28: 1.75em;
@font30: 1.875em;
@font32: 2em;
@font48: 3em;

h1,h2,h3,h4,h5,p,body {
  font-family: @fontFamily;
  margin: 0;
  padding: 0;
}
a{
  cursor: pointer;
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

.grid-system{
  max-width: @maxWidth;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: @font30;
}

.vertical-center{
  display: flex;
  align-items: center;
}