.content-split{
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 20px;
}
.content-wrapper{
    .grid-system;
    .filter-wrapper{
        grid-column: 1 e("/") 4;
        .content-split;
        grid-template-rows: max-content max-content;
        color: @lightGrey;
        .filter-box{
            // border: 1px solid #e5e5e5;
            box-shadow: @contentBoxShadow;
            .filter{
                display: grid;
                align-items: center;
                grid-template-columns: 10% auto 5%;
                padding: 15px 10px;
                border-bottom: 1px solid #e5e5e5;
                font-size: @font14;
                &:last-child{
                    border-bottom: none;
                }
                span{
                    padding: 0 10px;
                    flex-wrap: nowrap;
                    flex-shrink: 0;
                }
                i{
                    align-self: flex-end;
                }
            }
        }
        .message-box{
            box-shadow: @contentBoxShadow;
            padding: 120px 0;
            display: grid;
            place-items: center;
            font-size: @font14;
            h1{
                font-weight: 500;
            }
            span{
                font-size: @font12;
                color: #e5e5e5;
            }
        }
    }
    .product-wrapper{
        grid-column: 4 e("/") 13;
        display: grid;
        grid-row-gap: @font30;
        .tabs{
            box-shadow: @contentBoxShadow;
            ul{
                list-style-type: none;
                margin: 0;
                padding-left: @font24;
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: max-content max-content;
                grid-column-gap: @font24;
            }
            li{
                font-size: @font16;
                color: @lightGrey;
                padding: 20px 0;
                position: relative;
                cursor: pointer;
                &.active::after{
                    background: @active;
                    border-radius: 10px;
                    bottom: -1px;
                    content: "";
                    height: 3px;
                    left: 0;
                    position: absolute;
                    width: 100%;
                }
            }
        }
        .products {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 40px;
        }
        .product{
            box-shadow: @contentBoxShadow;
            width: inherit;
            padding: 20px;
            img{
                width: 200px;
                margin-top: 30px;
            }
            .tag-wrapper{
                display: grid;
                align-items: center;
                justify-content: space-between;
                grid-auto-flow: column;
                grid-column-gap: 20px;
                .tag{
                    font-size: @font12;
                    color: @lightGrey;
                    width: max-content;
                    padding: 5px 10px;
                    border-radius: 4px;
                    background: #ebebeb; 
                }
            }
            .price-wrapper{
                .tag-wrapper;
                justify-content: center;
                margin-top: 10px;
            }
            h1{
                font-weight: 600;
                color: @lightGrey;
                font-size: @font16;
                text-align: center;
                margin-top: 50px;
            }
        }
    }
}
footer.footer{
    .grid-system;
    margin-top: 60px;
    padding: 100px 0;
    background-color: @lightGrey;
    p{
        grid-column: 1 e("/") 13;
        color: @white;
        text-align: center;
    }
    p.logo{
        font-weight: 700;
        font-size: @font48;
    }
    .p.description{
        font-size: @font16;
    }
}