header{
    width: 100%;
    box-shadow: @headerShadow;
    padding: @font20 0;
    align-items: center;
    .header{
      .grid-system;
      align-items: center;
      .logo{
        grid-column: 1 e("/") 3;
        h1{
          text-transform: uppercase;
          font-size: @font24;
          
          color: @lightGrey;
        }
      }
      .search-wrapper{
        display: grid;
        grid-auto-flow: column;
        grid-column: 3 e("/") 9;
        grid-template-columns: max-content max-content;
        .search{
          input{
            border: @lightBorder;
            font-size: @font16;
            
            padding: 10px;
            width: 20em;
            border-right: transparent;
          }
          input:focus{
            width: 25em;
            transition: width .1s ease-out;
            outline: none;
          }
        }
        .category{
          border: @lightBorder;
          .vertical-center;
          padding: 0 10px;
          
          font-size: @font12;
          color: @lightGrey;
          text-transform: uppercase;
          cursor: pointer;
          i{
            margin-left: 8px;
            color: @lightGrey;
          }
        }
      }
      .nav-options{
        grid-column: 9 e("/") 13;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: max-content max-content max-content;
        justify-self: flex-end;
        grid-gap: @font24;
        color: @lightGrey;
        span{
          
          font-size: @font16;
          color: @lightGrey;
          margin-left: 5px;
        }
      }
    }
  }